<!DOCTYPE html>
<html lang="en">
<head>
<!--通用媒体查询-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
<title>&#x9519;&#x8BEF;&#x9875;</title>
	<link href="${s.base}/static/css/hkbMain.min.css" rel="stylesheet" type="text/css" />
</head>
<body id="white_bg">



<div class="hkb_cartoon_page_404">

    <!--背景-->

    <div class="hkb_cartoon_background_404">


        <div class="hkb_cartoon_flame_404"></div>


        <div class="hkb_cartoon_rocket_404"></div>


        <div class="hkb_cartoon_404_404">

            <p>404</p>

        </div>


        <div class="hkb_cartoon_cloud_01"></div>


        <div class="hkb_cartoon_cloud_02"></div>


        <div class="hkb_cartoon_404_text">

            <div>
                <p>&#x5F88;&#x9057;&#x61BE;</p>
                <p>&#x60A8;&#x8BBF;&#x95EE;&#x7684;&#x9875;&#x9762;&#x53BB;&#x592A;&#x7A7A;&#x5566;..</p>
            </div>

        </div>




    </div>



    <a class="hkb_cartoon_key_404" href="">

        <span>&#x5237;&#x65B0;&#x9875;&#x9762;</span>

    </a>



</div>

<script src="${s.base}/static/js/hkbMain.min.js"></script>
<script>addEventListener('load',function(){})
</script>
</body>
</html>