<!DOCTYPE html>
<html lang="en">
	<head>
		<!--通用媒体查询-->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
		<title>&#x9519;&#x8BEF;&#x9875;</title>
		<link href="${s.base}/static/css/hkbMain.min.css" rel="stylesheet" type="text/css" />
		<script src="${s.base}/static/js/hkbMain.min.js"></script>
	</head>
	<body id="white_bg">
		<div class="hkb_cartoon_page_500">
			<!--背景-->
			<div class="hkb_cartoon_background_500">
				<div class="hkb_cartoon_500_up"></div>
				<div class="hkb_cartoon_500_500">
					<p>500</p>
				</div>
				<div class="hkb_cartoon_500_text">
					<p>&#x8FD9;&#x91CC;&#x7684;&#x7A0B;&#x5E8F;&#x51FA;&#x73B0;&#x4E86;&#x610F;&#x5916;</p>
					<p>&#x5DE5;&#x7A0B;&#x5E08;&#x4EEC;&#x6B63;&#x5728;&#x62A2;&#x4FEE;&#x5566;..</p>
				</div>
				<div class="hkb_cartoon_engineering_01"></div>
				<div class="hkb_cartoon_engineering_02"></div>
			</div>
			<a class="hkb_cartoon_key_500" href=""> 
				<span>&#x5237;&#x65B0;&#x9875;&#x9762;</span>
			</a>
		</div>
		<script>
			addEventListener('load', function() {})
		</script>
	</body>
</html>