<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>薪无忧</title>
   	<link rel="stylesheet" href="${s.base}/res/css/huikabao.mui.css">
	<link rel="stylesheet" href="${s.base}/res/css/main-wechat.min.css">
	<script src="${s.base}/res/common/jquery-3.0.0.min.js"></script>
	<script src="${s.base}/res/common/swiper-3.3.1.jquery.min.js"></script>
	<script src="${s.base}/res/jqueryui/js/jquery-weui.js"></script>
	<script src="${s.base}/res/common/main-Wechat.min.js"></script>
	<script src="${s.base}/res/common/hbb.util.common.js"></script>
	<script src="${s.base}/res/common/jquery.huikabaoZy.js"></script>
	<script src="${s.base}/res/common/jweixin-1.0.0.js"></script>
</head>

<body class="padding">
    
<!--标签栏-->
<nav class="Top_navigation">
  <div class="weui_tab_bd"></div>
  <div class="container_tab"> <a onclick="jfSwitch.goBack()">
    <div class="nav_left"><img src="${s.base}/res/image/icon/icon_zhuce_fanhui.png"></div>
    </a>
    <div class="nav_center">
      <div>扫码关注</div>
    </div>
    <a href="#">
    <div class="nav_right"></div>
    </a> </div>
    <!--二维码-->
    	<div class="follow_header">薪无忧关注页面</div>
        <div class="follow_erweima">
        	<div class="follow_img"><img src="${s.base}/res/image/weixin_logo.jpg" width="262" height="262"></div>
        </div>
        <div class="follow_font">1.长按二维码图片关注公众号;<br>2.进入公众号，完成注册;<br>3.正常使用。</div>

</body>
</html>