<!DOCTYPE html>
<html lang="en">
<head>
    <!--通用媒体查询-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>&#x9519;&#x8BEF;&#x9875;</title>
	<link href="${s.base}/static/css/hkbMain.min.css" rel="stylesheet" type="text/css" />
	<script src="${s.base}/static/js/hkbMain.min.js"></script></head>
<body id="white_bg">

<div class="hkb_cartoon_page_403">
    <!--背景-->
    <div class="hkb_cartoon_background">
        <!--红绿灯-->
        <div class="hkb_cartoon_lamp">
            <div class="lamp_shape"></div>
        </div>
        <!--停止-->
        <div class="hkb_cartoon_stop"></div>
        <!--文本-->
        <div class="hkb_cartoon_text">
            <div>
                <p>&#x5F88;&#x62B1;&#x6B49;</p>
                <p>&#x60A8;&#x6CA1;&#x6709;&#x6743;&#x9650;&#x67E5;&#x770B;&#x6B64;&#x9875;&#x9762;&#x54E6;..</p>
            </div>
        </div>
        <!--403-->
        <div class="hkb_cartoon_403">
            <p>403</p>
        </div>
        <!--雪花-->
        <div class="hkb_cartoon_snowflake">
            <div class="hkb_cartoon_snowflake_01"></div>
            <div class="hkb_cartoon_snowflake_02"></div>
            <div class="hkb_cartoon_snowflake_03"></div>
        </div>
    </div>
    <a class="hkb_cartoon_key" href="">
        <span>&#x5237;&#x65B0;&#x9875;&#x9762;</span>
    </a>
    </div>
<script>addEventListener('load',function(){})
</script>
</body>
</html>

