<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans        
    						http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	
		<!-- active mq -->
		<bean id="rechargeMobileProducerService" class="com.cn.thinkx.common.activemq.service.impl.RechargeMobileProducerServiceImpl">
			<property name="rechargeMobileJmsTemplate" ref="rechargeMobileJmsTemplate"></property>
		</bean>
</beans>

