<!DOCTYPE html>
<html lang="en">
<head>
<!--通用媒体查询-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
<title>薪无忧</title>
<#include "../../common/wecardHeader.html">
<script type="text/javascript" src="${s.base}/static/js/module/user/fail.js?v=${s.version}"></script>
</head>
<body>
<!--操作失败-->
<div class="hkb_fail_animation">
    <!--失败动画-->
    <div class="fail_animation_wrong">
        <div class="swal2-icon swal2-error animate-error-icon">
             <span class="x-mark animate-x-mark">
                <span class="line left"></span>
                <span class="line right"></span>
             </span>
        </div>
    </div>
    <div class="hkb_text_fail">操作失败</div>
    <!--消费账单-->
    <div class="hkb_fail_text_bill">
        <div class="hkb_fail_bill">
            <span class="fail_bill_text">${resp.info}</span>
        </div>
	</div>
	<!--关闭-->
    <div class="hkb_button_fail">
        <a class="main_btn" href="#"><span>关闭</span>
        </a>
    </div>
<script>addEventListener('load',function(){})
</script>
</body>
</html>