<!DOCTYPE html>
<html lang="en">
<head>
	<!--通用媒体查询-->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>会员注册</title>
    <#include "../../common/wecardHeader.html">
</head>
<body>
<!--操作成功-->
<div class="hkb_success_register">
    <!--成功动画-->
    <div class="success_animation_right">
        <div class="swal2-icon swal2-success animate">
            <span class="line tip animate-success-tip"></span>
            <span class="line long animate-success-long"></span>
            <div class="placeholder">
			<!--<div class="rectangle">
                    <div class="ball"></div>
                    <div class="ball2"></div>
                </div>-->
            </div>
            <div class="fix"></div>
        </div>
    </div>
    <div class="hkb_text_success">您已注册</div>
    <!--关闭-->
</div>
<script>addEventListener('load',function(){})
</script>
</body>
</html>