<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://10.20.91.130/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cn.thinkx.customer.mapper.PersonInfDao">
		
	<resultMap type="PersonInf" id="PersonInfResultMap">
		<result column="PERSONAL_ID" property="personalId"/>
		<result column="USER_ID" property="userId"/>
		<result column="PERSONAL_NAME" property="personalName"/>
		<result column="PERSONAL_CARD_TYPE" property="personalCardType"/>
		<result column="PERSONAL_CARD_NO" property="personalCardNo"/>
		<result column="SEX" property="sex"/>
		<result column="BIRTHDAY" property="birthday"/>
		<result column="NATIVE_PLACE" property="nativePlace"/>
		<result column="MOBILE_PHONE_NO" property="mobilePhoneNo"/>
		<result column="EMAIL" property="email"/>
		<result column="MARRIAGE_STAT" property="marriageStat"/>
		<result column="HOME_ADDRESS" property="homeAddress"/>
		<result column="COMPANY_ADDRESS" property="companyAddress"/>
		<result column="TRANS_HABIT" property="transHabit"/>
		<result column="DATA_STAT" property="dataStat"/>
		<result column="REMARKS" property="remarks"/>
		<result column="CREATE_USER" property="createUser"/>
		<result column="UPDATE_USER" property="updateUser"/>
		<result column="CREATE_TIME" property="createTime"/>
		<result column="UPDATE_TIME" property="updateTime"/>
		<result column="LOCK_VERSION" property="lockVersion"/>
	</resultMap>
	
	<sql id="PersonInfColumns">
		m.PERSONAL_ID,
		m.USER_ID,
		m.PERSONAL_NAME,
		m.PERSONAL_CARD_TYPE,
		m.PERSONAL_CARD_NO,
		m.SEX,		
		m.BIRTHDAY,
		m.NATIVE_PLACE,
		m.MOBILE_PHONE_NO,
		m.EMAIL,
		m.MARRIAGE_STAT,
		m.HOME_ADDRESS,
		m.COMPANY_ADDRESS,
		m.TRANS_HABIT,
		m.DATA_STAT,
		m.REMARKS,
		m.CREATE_USER, 
		m.UPDATE_USER, 
		m.CREATE_TIME, 
		m.UPDATE_TIME, 
		m.LOCK_VERSION
	</sql>
	<insert id="insertPersonInf" parameterType="PersonInf">
		INSERT INTO TB_PERSON_INF (
			USER_ID,
			PERSONAL_NAME,
			PERSONAL_CARD_TYPE,
			PERSONAL_CARD_NO,
			SEX,		
			BIRTHDAY,
			NATIVE_PLACE,
			MOBILE_PHONE_NO,
			EMAIL,
			MARRIAGE_STAT,
			HOME_ADDRESS,
			COMPANY_ADDRESS,
			TRANS_HABIT,
			DATA_STAT,
			REMARKS,
			CREATE_USER, 
			CREATE_TIME, 
			LOCK_VERSION
		 )  VALUES ( 
		 		#{userId},
		 		#{personalName,jdbcType=VARCHAR},
		 		#{personalCardType,jdbcType=VARCHAR},
		 		#{personalCardNo,jdbcType=VARCHAR},
		 		#{sex,jdbcType=VARCHAR},
		 		#{birthday,jdbcType=VARCHAR},
		 		#{nativePlace,jdbcType=VARCHAR},
		 		#{mobilePhoneNo,jdbcType=VARCHAR},
		 		#{email,jdbcType=VARCHAR},
		 		#{marriageStat,jdbcType=VARCHAR},
		 		#{homeAddress,jdbcType=VARCHAR},
		 		#{companyAddress,jdbcType=VARCHAR},
		 		#{transHabit,jdbcType=VARCHAR},
		 		'0',
		 		#{remarks,jdbcType=VARCHAR},
		 		#{createUser,jdbcType=VARCHAR},
		 		sysdate,
		 		'0') 
	</insert>
	
	<select id="getPersonInfById" parameterType="java.lang.String" resultMap="PersonInfResultMap">
		SELECT 
	  		<include refid="PersonInfColumns" />
		 FROM TB_PERSON_INF m WHERE  m.PERSONAL_ID=#{personId} AND m.DATA_STAT = '0'
	</select>

	
	<select id="getPersonInfByUserId" parameterType="java.lang.String" resultMap="PersonInfResultMap">
		SELECT 
	  		<include refid="PersonInfColumns" />
		 FROM TB_PERSON_INF m WHERE  m.USER_ID=#{userId} AND m.DATA_STAT = '0'
	</select>
	
	<update id="updatePersonInf" parameterType="PersonInf">
			UPDATE TB_PERSON_INF SET
				USER_ID=#{userId},
				PERSONAL_NAME=#{personalName,jdbcType=VARCHAR},
				PERSONAL_CARD_TYPE=#{personalCardType,jdbcType=VARCHAR},
				PERSONAL_CARD_NO=#{personalCardNo,jdbcType=VARCHAR},
				SEX=#{sex,jdbcType=VARCHAR},		
				BIRTHDAY=#{birthday,jdbcType=VARCHAR},
				NATIVE_PLACE=#{nativePlace,jdbcType=VARCHAR},
				MOBILE_PHONE_NO=#{mobilePhoneNo,jdbcType=VARCHAR},
				EMAIL=#{email,jdbcType=VARCHAR},
				MARRIAGE_STAT=#{marriageStat,jdbcType=VARCHAR},
				HOME_ADDRESS=#{homeAddress,jdbcType=VARCHAR},
				COMPANY_ADDRESS=#{companyAddress,jdbcType=VARCHAR},
				TRANS_HABIT=#{transHabit,jdbcType=VARCHAR},
				REMARKS=#{remarks,jdbcType=VARCHAR},
				UPDATE_USER=#{updateUser,jdbcType=VARCHAR}, 
				UPDATE_TIME=sysdate 
	 			WHERE PERSONAL_ID = #{personalId} 
	</update>
	
	<select id="getPhoneNumberByOpenId" parameterType="java.lang.String" resultType="java.lang.String"> 
		SELECT PI.MOBILE_PHONE_NO
           FROM TB_PERSON_INF PI,
                 TB_USER_INF UI,
                 TB_CHANNEL_USER_INF c
                 WHERE UI.DATA_STAT='0'
                 AND　PI.USER_ID=UI.USER_ID
                 AND c.USER_ID=ui.USER_ID
                 AND c.CHANNEL_CODE='40001010'
		         AND c.EXTERNAL_ID=#{openid}
	</select>
	
	<select id="getPersonInfByAccountNo" parameterType="java.lang.String" resultMap="PersonInfResultMap"> 
		SELECT 
		m.PERSONAL_ID,
		m.USER_ID,
		m.PERSONAL_NAME,
		m.PERSONAL_CARD_TYPE,
		m.PERSONAL_CARD_NO,
		m.SEX,		
		m.BIRTHDAY,
		m.NATIVE_PLACE,
		m.MOBILE_PHONE_NO,
		m.EMAIL,
		m.MARRIAGE_STAT,
		m.HOME_ADDRESS,
		m.COMPANY_ADDRESS,
		m.TRANS_HABIT,
		m.REMARKS,
		m.CREATE_USER, 
		m.UPDATE_USER, 
		m.CREATE_TIME, 
		m.UPDATE_TIME, 
		m.LOCK_VERSION
     FROM TB_PERSON_INF m
              LEFT JOIN TB_ACCOUNT_INF a ON A.PERSONAL_ID=m.PERSONAL_ID
              WHERE A.ACCOUNT_NO=#{accountNo} AND m.DATA_STAT = '0'
	</select>
</mapper>
