<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://10.20.91.130/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cn.thinkx.customer.mapper.UserInfDao">
		
	<resultMap type="UserInf" id="UserInfResultMap">
		<result column="USER_ID" property="userId"/>
		<result column="USER_NAME" property="userName"/>
		<result column="USER_TYPE" property="userType"/>
		<result column="USER_PASSWD" property="userPasswd"/>
		<result column="PRODUCT_CODE" property="productCode"/>
		<result column="DATA_STAT" property="dataStat"/>
		
		<result column="REMARKS" property="remarks"/>
		<result column="CREATE_USER" property="createUser"/>
		<result column="UPDATE_USER" property="updateUser"/>
		<result column="CREATE_TIME" property="createTime"/>
		<result column="UPDATE_TIME" property="updateTime"/>
		<result column="LOCK_VERSION" property="lockVersion"/>
	</resultMap>
	
	<sql id="UserInfColumns">
		m.USER_ID,
		m.USER_NAME,
		m.USER_TYPE,
		m.USER_PASSWD,	
		m.PRODUCT_CODE,	
		m.DATA_STAT,			
		m.REMARKS,
		m.CREATE_USER, 
		m.UPDATE_USER, 
		m.CREATE_TIME, 
		m.UPDATE_TIME, 
		m.LOCK_VERSION
	</sql>
	<insert id="insertUserInf" parameterType="UserInf">
		INSERT INTO TB_USER_INF (
			USER_ID,
			USER_NAME,
			USER_TYPE,
			USER_PASSWD,	
			PRODUCT_CODE,	
			DATA_STAT,
			REMARKS,
			CREATE_USER, 
			CREATE_TIME, 
			LOCK_VERSION
		 )  VALUES ( 
		 		#{userId},
		 		#{userName,jdbcType=VARCHAR},
		 		#{userType,jdbcType=VARCHAR},
		 		#{userPasswd,jdbcType=VARCHAR},
		 		#{productCode,jdbcType=VARCHAR},
		 		#{dataStat,jdbcType=VARCHAR},
		 		#{remarks,jdbcType=VARCHAR},
		 		#{createUser,jdbcType=VARCHAR},
		 		sysdate,
		 		'0') 
	</insert>
	

	<select id="getUserInfById" parameterType="java.lang.String" resultMap="UserInfResultMap">
		SELECT 
	  		<include refid="UserInfColumns" />
		 FROM TB_USER_INF m WHERE  m.USER_ID=#{userId}
	</select>
	
	<select id="getUserInfByOpenId" parameterType="java.lang.String" resultMap="UserInfResultMap">
				SELECT 
				m.USER_ID,
				m.USER_NAME,
				m.USER_TYPE,
				m.PRODUCT_CODE,	
				m.DATA_STAT,			
				m.REMARKS,
				m.CREATE_USER, 
				m.UPDATE_USER, 
				m.CREATE_TIME, 
				m.UPDATE_TIME, 
				m.LOCK_VERSION,
				c.EXTERNAL_ID FROM 
			  TB_USER_INF m,
	  		  TB_CHANNEL_USER_INF c
              WHERE m.user_id=c.user_id
              AND c.CHANNEL_CODE='40001010'
              AND m.DATA_STAT = '0'
			  AND c.EXTERNAL_ID=#{openid}
	</select>
	
	<update id="updateUserInf" parameterType="PersonInf">
			UPDATE TB_USER_INF SET
			USER_NAME=#{userName,jdbcType=VARCHAR},
			USER_TYPE=#{userType,jdbcType=VARCHAR},
			PRODUCT_CODE=#{productCode,jdbcType=VARCHAR},	
			DATA_STAT=#{dataStat,jdbcType=VARCHAR},			
			REMARKS=#{remarks,jdbcType=VARCHAR},
			UPDATE_USER=#{updateUser,jdbcType=VARCHAR}, 
			UPDATE_TIME=sysdate
			WHERE USER_ID=#{userId}
	</update>

</mapper>
