<!DOCTYPE html>
<html lang="en">
<head>
	<#include "../../common/wecardHeader.html">
    <meta charset="UTF-8">
    <title>工资账户</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no, email=no">
	<link rel="stylesheet" href="${s.base}/static/css/hkb_welfare.min.css?v=${s.version}" />
</head>
<body>
<!--薪无忧-额度转让-->
	<input id="bankNumber" name="bankNumber" type="hidden" />
	<input id="mobile" name="mobile" type="hidden" value="${mobile!}" />
	<input id="appearNum" name="appearNum" type="hidden" value="${appearNum!}" />
	<input id="accBal" name="accBal" type="hidden" value="${userWageInfo.accBal!}" />
	<div class="resell_plate">
		<div class="waring_tips">
		    <img src="${s.base}/static/images/welfaremart/tips.png">
		    <p>每月可提现次数9次（还剩${appearNum!}次）</p>
		</div>
		<div class="resell_none"></div>
		<div class="add_card">
			<div class="in_text">
				<div class="add_line">
                    工资余额：￥${userWageInfo.accBal! }
					<input id="drawAmount" name="drawAmount" type="number" oninput="value=value.replace(/[^\d]/g,'')" placeholder="请输入提现金额" />
				</div>
			</div>
			<a class="in_text choose_banker" id="bank_select" onclick="bankDragUp.run()"><span id="checkBankNo">选择银行卡</span></a>
		</div>



		<!--<div id="IframeVip" class="IframeVip" style="display: none">
		    <iframe src="../vip/add_card.html" scrolling="auto" id="mainIframeVip" class="mainIframeVip" name="mainIframeVip"></iframe>
		</div>-->
		<!--银行列表上拉框-->
		<div class="frame_drag_up frame_bank">
		    <div class="frame-main">
		        <div class="weui_actionsheet_menu">
		            <!--弹出菜单-->
		            <div class="weui_order">
		                <div class="weui_title">
		                    <div>
		                        <div>&#xA0;</div>
		                        <div>&#x9009;&#x62E9;&#x94F6;&#x884C;&#x5361;</div>
		                        <div><img src="${s.base}/static/images/welfaremart/vip/icon-vip-jt.png"></div>
		                    </div>
		                </div>
		                <div style="max-height:241px; overflow:auto;">
		                    <!--银行卡1-->
		                    <#if userBankList ??&& userBankList?size gt 0>
								<#list userBankList as userBank>
				                    <div class="weui_bank_imf">
				                        <div onclick="bankDragUp.stop()" class="checkBank" data="${userBank.bankNo!}">
				                            <div>
				                                <div class="zz">
				                                    <!-- <div><img src="../../images/vip/icon-bank-1.png" class="bank_logo"></div> -->
				                                    <div>
				                                        <div class="bank_name">${userBank.bankName!}</div>
				                                        <div>
						                                	<span class="card_firstnum card_number bankNum">${userBank.bankNum!}</span>
						                                    <p class="vip_name">${userBank.userName!}</p>
					                                	</div>
				                                    </div>
				                                    <input name="bankNo" class="bankNo" type="hidden" value="${userBank.bankNo!}"/>
				                                </div>
				                            </div>
				                            <!--已选择的银行卡-->
				                            <#if userBank.isdefault == '0'><div id="div" class="weui_choose">&#x5DF2;&#x9009;</div></#if>
				                        </div>
				                    </div>
				            	</#list>
				   			</#if>
		                    <!--银行卡结束-->
		                </div>
		                <!--新卡-->
		                <a id="addBank" href="${s.base}/welfareMart/toWelfareAddBank.html">
		                    <div class="weui_add_card" id="weui_add_card">
		                        <div>
		                            <div>&#x4F7F;&#x7528;&#x65B0;&#x5361;</div>
		                            <div><img src="${s.base}/static/images/welfaremart/vip/icon_arrow.png"></div>
		                        </div>
		                    </div>
		                </a>
		            </div>
		            <!--弹出菜单结束-->
		        </div>
		    </div>
		    <div class="weui_mask_transition mask_drag"></div>
		</div>
	</div>
	<!--底部按钮-->
	<div>
	    <div class="resell_bottom_box">
	        <a id="resellCommit">确定</a>
	    </div>
	    <div class="resell_bottom_plate"></div>
	</div>

	<!--预加载效果-->
	<div class="loading_page">
	    <div class="show_loading">
	        <main>
	            <div class="loader">
	                <div class="loader-inner line-scale">
	                    <div></div>
	                    <div></div>
	                    <div></div>
	                    <div></div>
	                    <div></div>
	                </div>
	            </div>
	        </main>
	        <p>提交中</p>
	    </div>
	</div>

	<script src="${s.base}/static/js/common/fastclick.min.js?v=${s.version}"></script>
	<script src="${s.base}/static/js/common/hkb_welfare.min.js?v=${s.version}"></script>
	<script src="${s.base}/static/js/common/LAreaData2.min.js?v=${s.version}"></script>
    <script src="${s.base}/static/js/module/welfaremart/resell/balanceWithdraw.js?v=1.2"></script>

	<script>
	  	//银行列表上拉框
	    var bankDragUp=new jfFrameDrag.dragEleshow({
	        "targetButton":"bank_select",//点击的目标元素。ID选择器
	        "targetDragName":"frame_bank",//出现的目标元素，calss选择器
	        "hideButton":"weui_title"//关闭按钮，class选择器
	    });
	  	//弹出框
	  	function myDialog() {
		    var personalHold=document.getElementsByClassName('gray_check_buy')[0];
		    personalHold.addEventListener('click',function () {
		        jfShowTips.dialogShow({
		            "mainText": "提现金额不能超过五万",
		            "minText": "  ",
		            "hasCheck": false,
		            "hasCancel": true,
		            "checkFn": function () {
		            	document.getElementsByClassName('gray_check_buy')[2].className='weui_mask_transition mask_drag';
		            	jfShowTips.dialogRemove();//弹出框消失
		            }
		        })
		    },false)
	  	}
	</script>
</body>
</html>