<!DOCTYPE html>
<html lang="en">
<head>
	<#include "../../common/wecardHeader.html">
    <meta charset="UTF-8">
    <title>卡券购买</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no, email=no">
	<link rel="stylesheet" href="${s.base}/static/css/hkb_welfare.min.css?v=${s.version}" />
</head>
<body>
	<!--薪无忧-话费卡-->
	<input type="hidden" id="productCode" name="productCode" value="${ckp.productCode!}" />
	<input type="hidden" id="loseAmount" name="loseAmount" value="${ckp.loseAmount!}" />
	<input type="hidden" id="amount" name="amount" value="${ckp.amount!}" />
	
	<div class="show_box">
	    <div class="show_img">
	        <div class="show_img_left">
	            <p>￥<span>${ckp.orgAmount!}</span></p>
	        </div>
	        <div class="show_img_right">${ckp.productName!}</div>
	    </div>
	    <div class="shop_num">
	        <div class="add_num_area">
	            <div class="add_tips">购买数量</div>
	            <div class="num_area volume_btn">
	                <button id="reduceBut" class="reduce">-</button>
	                <input id="sellNum" name="sellNum" type="number" pattern="[0-9]*" class="volume_input" value="1" onkeyup="this.value=this.value.replace(/\D/g,'')">
	                <button id="addBut" class="add">+</button>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="detail_text">
	    <!--详情-->
	    <p>1、	本产品为三网通话费卡，购买成功后，本产品将以电子卡的形式展现于“我的卡券”内，用户可对此卡进行“充值“与”转让“操作。本卡一经售卖，不可退款。<br/>
			2、	本产品可充值任何运营商（移动、联通、电信）（不包含港澳台地区），在充值前，请确认手机号码是否正确。卡密一经使用后，无法办理退款。<br/>
			3、	充值请求提交后，系统会在1个工作日内自动完成充值。若充值成功，运营商将发送短信通知，若超过1个工作日未到账，可咨询薪无忧客服电话17058435791。<br/>
			4、	本卡可在使用“卡券集市”功能，进行转让操作，转让相关协议，请仔细阅读《委托售卡协议》。
		</p>
	</div>
	<div class="bar"></div>
	<!--底部按钮-->
	<div class="bottom_btn">
	    <div class="agreement">
	        <label>
	        	<input id="checkAgreement" type="checkbox" class="tate_y">我已经阅读并同意
	        </label>
	        <a class="show_agreement" href="#">《委托售卡协议》</a>
	    </div>
	    <div class="bottom">
	        <div class="fixed_buy_btn">
	            <div class="price">
	                <div class="up">
	                    <span>售价：</span>
	                    <p>￥<span id="sellAmount" name="sellAmount">${ckp.amount!}</span></p>
	                </div>
	            </div>
	            <a id="unifiedOrder" class="gray_check_buy">立即购买</a>
	        </div>
	    </div>
	</div>
	<!----购买协议弹出框---->
	<div class="buy_agreement_bgd"></div>
	<div class="buy_agreement_plate">
    	<div class="buy_agreement_top">
	        <p class="agreement_top_font">委托售卡协议</p>
	        <button class="agreement_close_btn">X</button>
    	</div>
	    <div class="buy_agreement_text">
	    	<p>尊敬的用户，欢迎使用薪无忧“卡券集市”功能。</p>
	        <p>依据《中华人民共和国合同法》、《中华人民共和国民法总则》等相关法律，本着平等互利的原则，就预付卡委托售卡事宜达成如下协议。</p>
	        <p>本协议是您（或称”用户“）与薪无忧（以下简称”平台“）之间就委托售卡所订立的契约。在您选择该产品服务前，请您仔细阅读本协议的全部内容，如您不同意本协议或其中任何条款约定，请您停止使用“卡券集市”功能；您点击“同意”按钮后，本协议即构成对双方有约束力的法律文件。</p>
	        <h4>一、委托内容</h4>
	        <p>用户委托薪无忧售卡，薪无忧帮助用户对卡进行出售，售卡资金由平台代收，平台扣除一定比例的服务费后，剩余售卡资金将通过银行代付至用户所绑定的银行卡账户。</p>
	        <h4>二、产品使用</h4>
	        <p>1、用户委托薪无忧出售总面额为  ${ckp.orgAmount!} 元的      预付卡。</p>
	        <p>2、用户向薪无忧支付委托售卡总面额 4% 的服务费。</p>
	        <p>3、在您委托薪无忧出售预付卡时，请在系统内仔细填写并绑定您的银行卡账户信息，包括姓名、银行卡号、开户银行、所在地区、开户支行等，便于资金按时到账。</p>
	        <h4>三、争议解决</h4>
	        <p>1、若发生争议，双方应协商解决。协商不成，任何一方可向平台注册所在地的仲裁委员会提起仲裁。仲裁费、律师费、公证费、签定费等合理费用由违约方承担。</p>
	        <h4>四、本协议签订地点为薪无忧所属公司所在地上海市金山区。</h4>
	   		<div class="payfor_button">
        		<a class="immediately_payfor" href="#">知道了</a>
    		</div>
	    </div>
	</div>
	
	<script src="${s.base}/static/js/common/fastclick.min.js?v=${s.version}"></script>
	<script src="${s.base}/static/js/common/hkb_welfare.min.js?v=${s.version}"></script>
	<script src="${s.base}/static/js/common/LAreaData2.min.js?v=${s.version}"></script>
	<script>
		//购买协议弹框
	    var showClick=document.getElementsByClassName('show_agreement')[0];
	    var hideAgreement=document.getElementsByClassName('agreement_close_btn')[0];
	    var clickBtn=document.getElementsByClassName('immediately_payfor')[0];
	    showClick.addEventListener('click',function () {
	        document.getElementsByClassName('buy_agreement_bgd')[0].className = 'buy_agreement_bgd show_buy_agreement';
	        document.getElementsByClassName('buy_agreement_plate')[0].className = 'buy_agreement_plate show_buy_agreement';
	        document.getElementsByTagName('body')[0].className = 'ovfHiden';
	        document.getElementsByTagName('html')[0].className = 'ovfHiden';
	    },false)
	    //点击关闭按钮
	    hideAgreement.addEventListener('click',function () {
	        document.getElementsByClassName('buy_agreement_bgd')[0].className = 'buy_agreement_bgd';
	        document.getElementsByClassName('buy_agreement_plate')[0].className = 'buy_agreement_plate';
	        document.getElementsByTagName('body')[0].className = '';
	        document.getElementsByTagName('html')[0].className = '';
	    })
	    //点击知道了按钮
	    clickBtn.addEventListener('click',function () {
	        document.getElementsByClassName('buy_agreement_bgd')[0].className = 'buy_agreement_bgd';
	        document.getElementsByClassName('buy_agreement_plate')[0].className = 'buy_agreement_plate';
	        document.getElementsByTagName('body')[0].className = '';
	        document.getElementsByTagName('html')[0].className = '';
	    }),
	    //同意服务协议按钮，可跳转链接
	    checkedService()
	    //购物车加减
	    jfProductDetails.volumeChange(true);
	    //选择
	    //jfProductDetails.skuBoxChange();
	    //弹出框
	    /* var personalHold=document.getElementsByClassName('gray_check_buy')[0];
	    personalHold.addEventListener('click',function () {
	    	var money = $("#loseAmount").val();
	        jfShowTips.dialogShow({
	            "mainText": "转让损失金额"+money+"元",
	            "minText": "  ",
	            "hasCheck": false,
	            "hasCancel": true,
	            "checkFn": function () {
	                //jfShowTips.dialogRemove();//弹出框消失
	                if($('#checkAgreement').is(':checked')) {
			    		var sellNum = $('#sellNum').val();
				    	var productCode = $('#productCode').val();
						if (parseInt(sellNum) == 0 || sellNum == "") {
							jfShowTips.toastShow({'text' : '请选择购买张数'});
							return;
						} else {
							window.location.href=CONETXT_PATH+'/welfareMart/welfareBuyCardCommit.html?num='+sellNum+'&productCode='+productCode;
						}
					} else {
						jfShowTips.toastShow({'text' : '请选择购买协议'});
						return;
					}
	            }
	        })
	    },false) */
	</script>
	<script src="${s.base}/static/js/module/welfaremart/cardshow/cardShow.js"></script>
</body>
</html>