<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://10.20.91.130/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cn.thinkx.common.wecard.module.channeluser.mapper.ChannelUserInfMapper">
	
	<resultMap type="ChannelUserInf" id="ChannelUserInfResultMap">
		<result column="CHANNEL_USER_ID" property="channelUserId"/>
		<result column="USER_ID" property="userId"/>
		<result column="EXTERNAL_ID" property="externalId"/>
		<result column="CHANNEL_CODE" property="channelCode"/>
		<result column="DATA_STAT" property="dataStat"/>
		<result column="REMARKS" property="remarks"/>
		<result column="CREATE_USER" property="createUser"/>
		<result column="UPDATE_USER" property="updateUser"/>
		<result column="CREATE_TIME" property="createTime"/>
		<result column="UPDATE_TIME" property="updateTime"/>
		<result column="LOCK_VERSION" property="lockVersion"/>
	</resultMap>
		
	<insert id="insertChannelUserInf" parameterType="ChannelUserInf">
		INSERT INTO TB_CHANNEL_USER_INF (
			USER_ID,
			EXTERNAL_ID,
			CHANNEL_CODE,
			DATA_STAT,
			REMARKS,
			CREATE_USER,
			UPDATE_USER,
			CREATE_TIME,
			UPDATE_TIME,
			LOCK_VERSION
		 )  VALUES (
		 		#{userId},
		 		#{externalId,jdbcType=VARCHAR},
		 		#{channelCode,jdbcType=VARCHAR},
		 		#{dataStat,jdbcType=VARCHAR},
		 		#{remarks,jdbcType=VARCHAR},
		 		#{createUser,jdbcType=VARCHAR},
		 		#{updateUser,jdbcType=VARCHAR},
		 		sysdate,
		 		sysdate,
		 		'0') 
	</insert>

	<select id="getAllChannelUsers" parameterType="ChannelUserInf" resultMap="ChannelUserInfResultMap">
		SELECT 
	  		CHANNEL_USER_ID, 
	  		USER_ID, 
	  		EXTERNAL_ID, 
	  		CHANNEL_CODE, 
	  		DATA_STAT, 
	  		REMARKS, 
	  		CREATE_USER, 
	  		UPDATE_USER, 
	  		CREATE_TIME, 
	  		UPDATE_TIME, 
	  		LOCK_VERSION
		FROM TB_CHANNEL_USER_INF 
		WHERE DATA_STAT='0' AND CHANNEL_CODE='40004001'
	</select>
	
	<update id="updateChannelUserInf" parameterType="ChannelUserInf">
		UPDATE TB_CHANNEL_USER_INF SET
			REMARKS='ACC_HKB',
			UPDATE_TIME=sysdate
		WHERE USER_ID = #{channelUserId} 
	</update>
	
	<select id="getExternalId" parameterType="ChannelUserInf" resultType="java.lang.String">
		select EXTERNAL_ID from
			(
			 select 
				EXTERNAL_ID 
			 from TB_CHANNEL_USER_INF
			 where USER_ID = #{userId} 
				and CHANNEL_CODE = #{channelCode}
				and DATA_STAT='0'
			 order by CREATE_TIME desc
			) 
		where rownum=1
	</select>
</mapper>
