<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://10.20.91.130/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cn.thinkx.common.wecard.module.phoneRecharge.mapper.PhoneRechargeShopMapper">

	<sql id="phoneRechargeColumns">
	   P.ID,
       P.SUPPLIER,
       P.OPER,
       P.SHOP_NO,
       P.SHOP_FACE,
       P.SHOP_PRICE,
       P.SHOP_TYPE,
       P.IS_USABLE,
       P.START_VALIDITY,
       P.END_VALIDITY,
       P.RESV1,
       P.RESV2,
       P.RESV3,
       P.RESV4,
       P.RESV5,
       P.RESV6,
       P.DATA_STAT,
       P.REMARKS,
       P.CREATE_USER,
       P.UPDATE_USER,
       P.CREATE_TIME,
       P.UPDATE_TIME,
       P.LOCK_VERSION
	</sql>
	
	<select id="getPhoneRechargeShopById" parameterType="string" resultType="PhoneRechargeShop">
		SELECT 
			<include refid="phoneRechargeColumns" />
		FROM TB_PHONE_RECHARGE_SHOP P
           WHERE P.DATA_STAT = '0'
             AND P.ID = #{id}
	</select>
	
	<select id="getPhoneRechargeShopByRechargeShop" parameterType="PhoneRechargeShop" resultType="PhoneRechargeShop">
		SELECT 
			<include refid="phoneRechargeColumns" />
		FROM TB_PHONE_RECHARGE_SHOP P
        	WHERE P.DATA_STAT = '0'
       		<if test="supplier != null and supplier != '' ">
	       		AND p.SUPPLIER = #{supplier,jdbcType=VARCHAR}
	    	</if>
	    	<if test="oper != null and oper != '' ">
	       		AND p.OPER = #{oper,jdbcType=VARCHAR}
	    	</if>
	    	<if test="shopFace != null and shopFace != '' ">
	       		AND p.SHOP_FACE = #{shopFace,jdbcType=VARCHAR}
	    	</if>
	    	<if test="shopType != null and shopType != '' ">
	       		AND p.SHOP_TYPE = #{shopType,jdbcType=VARCHAR}
	    	</if>
	    	<if test="resv1 != null and resv1 != '' ">
	       		AND p.RESV1 = #{resv1,jdbcType=VARCHAR}
	    	</if>
	    	<if test="isUsable != null and isUsable != '' ">
	       		AND p.IS_USABLE = #{isUsable,jdbcType=VARCHAR}
	    	</if>
	</select>

</mapper>
