<!DOCTYPE html>
<html lang="en">
<head>
    <!--通用媒体查询-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>薪无忧</title>
    <#include "../../common/wecardHeader.html">
<!-- 		<script src="${s.base}/static/js/common/jquery.qrcode.js?v=${s.version}"></script> -->
		<script src="${s.base}/static/js/common/utf.js?v=${s.version}"></script>
		<script src="${s.base}/static/js/common/jquery-barcode.js?v=${s.version}"></script>
		<script src="${s.base}/static/js/common/security.js?v=${s.version}"></script>
		<script src="${s.base}/static/js/common/reconnecting-websocket.js?v=${s.version}"></script>
		<script src="${s.base}/static/js/module/wallet/qrcode-customer.js?v=${s.version}"></script>
		<script type="text/javascript">
			var wsUrl = '${wsUrl}';
		  	var key = new RSAUtils.getKeyPair('${publicKeyExponent!}', '', '${publicKeyModulus!}');
		</script>
</head>
<body id="full_bg">
<input id="openid" type="hidden" value="${openid!}"/>
<input id="payType" type="hidden" value="VIPCARD_PAY"/>
<!-- 付款码 -->

<!-- 付款码 -->

<div class="hkb_codes_background">

    <div class="codes_background_color">

        <!-- 二维码白色底 -->

        <div class="hkb_codes_card">

            <div class="codes_title">此类付款码供扫码付款时使用</div>
            <!-- 二维码 -->
            <div class="codes_card" id="QR_code"></div>

            <!-- 中间图片-->
            <div class="logo_QR"><img src="${s.base}/static/images/code.jpg"/></div>

            <!-- 二维码未出现时动画-->
            <div class="hkb_QR_loading">
                <div class="k-spinner">
                    <div class="k-bubble-1"></div>
                    <div class="k-bubble-2"></div>
                </div>

            </div>

            <!-- 分割线-->
            <div class="codes_line"> </div>

        </div>


        <div class="codes_circle ">
             <div class="codes_test">提示：二维码有效期为60秒</div>
        </div>

    </div>

</div>

<div class="pay_pasd_box">
		    <div class="box_main">
		        <div class="title">
		            <span>请输入支付密码</span>
		            <span class="pay_close" id="payPWClose"></span>
		        </div>
		        <div class="money_num">
		            <span>&#xFFE5;</span><span id="transAmt"></span>
		        </div>
		        <div class="pasd_show">
		            <div class="pasd_box" id="pasdBox">
		            	<span></span>
		            	<span></span>
		            	<span></span>
		            	<span></span>
		            	<span></span>
		            	<span></span>
		            </div>
		            <div class="num_box" id="numBox"></div>
		            <input class="pasd_input" id="pasd_input" value="" />
		        </div>
		    </div>
		    <div class="box_gray"></div>
		</div>

<div class="hkb_codes_bg"></div>


<script>
addEventListener('load',function(){
	//选择支付方式
	confirmChoose.inputChoose();
	//点击显示密码
	//document.getElementById('confirm_next').addEventListener('click', passWordBox.passWordBoxShow, false);
	//关闭密码
    document.getElementById('payPWClose').addEventListener('click', passWordBox.passWordBoxHide, false);
});
</script>
</body>
</html>