<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:p="http://www.springframework.org/schema/p"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:util="http://www.springframework.org/schema/util"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.2.xsd
    http://www.springframework.org/schema/util 
    http://www.springframework.org/schema/util/spring-util-4.2.xsd">

    <!-- 设置Cookie domain 和 名称 -->
<!--     <bean id="defaultCookieSerializer" class="org.springframework.session.web.http.DefaultCookieSerializer"> -->
<!--         <property name="domainName" value="${spring.session.cookie.domain}"/> -->
<!--         <property name="cookieName" value="${spring.session.cookie.name}"/> -->
<!--         <property name="cookiePath" value="${spring.session.cookie.path}"></property> -->
<!--     </bean> -->

    <bean id="redisHttpSessionConfiguration"
          class="org.springframework.session.data.redis.config.annotation.web.http.RedisHttpSessionConfiguration">
          <property name="maxInactiveIntervalInSeconds" value="6000"></property>
<!--           <property name="cookieSerializer" ref="defaultCookieSerializer"/> -->
    </bean>

    <bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <constructor-arg index="0">
            <bean class="org.springframework.data.redis.connection.RedisClusterConfiguration">
                <constructor-arg index="0">
                    <set>
                       <value>${redis.pool.data.session.host}</value>
                    </set>
                </constructor-arg>
                <property name="maxRedirects" value="3" />
            </bean>
        </constructor-arg>
        <constructor-arg index="1" ref="jedisPoolConfig"></constructor-arg>
    </bean>
</beans>