<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans        
    						http://www.springframework.org/schema/beans/spring-beans-4.0.xsd        
    						http://www.springframework.org/schema/context        
   							http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<!-- active mq -->
	<bean id="wechatMQProducerService" class="com.cn.thinkx.common.activemq.service.impl.WechatMQProducerServiceImpl">
		<property name="consumerMsgJmsTemplate" ref="consumerMsgJmsTemplate"></property>
		<property name="templateMsgJmsTemplate" ref="templateMsgJmsTemplate"></property>
	</bean>

</beans>

