<!DOCTYPE html>
<html lang="en">
	<head>
		<#include "../../common/wecardHeader.html">
		<script src="${s.base}/static/js/common/security.js?v=${s.version}"></script>
		<script src="${s.base}/static/js/common/hbb.util.common.js?v=${s.version}"></script>
		<script src="${s.base}/static/js/module/mchntpay/unifiedOrder.js?v=${s.version}"></script>
		<script type="text/javascript">
			var key = new RSAUtils.getKeyPair('${publicKeyExponent!}', '', '${publicKeyModulus!}');
		</script>
	    <!--通用媒体查询-->
		<meta charset="UTF-8"></meta>
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1"></meta>
    	<title>收银台</title>
	</head>
	<body>
		<input id="orderKey" type="hidden" value="${orderKey!}"/>
		<input id="orderId" type="hidden" value="${orderReq.orderId!}" />
		<input id="txnAmount" type="hidden" value="${orderReq.txnAmount!}" />
		<div class="hkb_confirm_seller">
		    <!-- 付款金额 -->
		    <div class="hkb_confirm_money">
		        <div class="confirm_money_title">&#x652F;&#x4ED8;&#x91D1;&#x989D;&#xFF08;&#x5143;&#xFF09;</div>
		        <div class="confirm_money_text">${orderReq.txnAmount!}</div>
		    </div>
		    <!-- 购买信息-->
		    <div class="hkb_imf">
		        <p>&#x5546;&#x54C1;&#x4FE1;&#x606F;</p>
		        <div class="hkb_alignment_center">
		            <div>${orderReq.commodityName !}</div>
		            <div>&#xD7;${orderReq.commodityNum !}</div>
		        </div>
		    </div>
		</div>
		<div class="confirm_bill">
		    <!-- 会员卡支付 -->
		    <div class="confirm_card_pay">
		    	<label class="pay_mode hkb_alignment_center" id="card_pay">
					<div class="hkb_alignment_middle">
						<div class="confirm_card_seller">
							<img src="${s.base}/static/images/zhiliao_logo.png"></img>
		                </div>
		                <div class="confirm_card_text">${shopInfo.mchntName!}</div>
		            </div>
		            <input type="checkbox" class="confirm_choose" value="VIPCARD_PAY"  name="payType" checked="checked"></input>
		        </label>
		        <label class="card_contain" >
		            <div class="card_confirm_text">余额&nbsp;&nbsp;${userMchntAccBal!}</div>
		        </alabel>
		    </div>
<!-- 		    <#if orderReq.channel != '40007001'> -->
<!-- 		    <div class="pay_box"> -->
<!-- 		        <label class="pay_mode hkb_alignment_center"> -->
<!-- 		            <div class="confirm_mode_seller "> -->
<!-- 		                <img src="${s.base}/static/images/wechat.png" /> -->
<!-- 		                <span class="confirm_text">微信支付</span> -->
<!-- 		            </div> -->
<!-- 		            <input type="checkbox" class="confirm_choose" name="payType" value="WECHAT_PAY" /> -->
<!-- 		        </label> -->
<!-- 		    </div> -->
<!-- 		    </#if> -->
		</div>
		
		<!-- 下一步-->
		<div class="confirm_next" id="confirm_next" >
		    <a><span>&#x4E0B;&#x4E00;&#x6B65;</span></a>
		</div>
		
		<!--支付弹出框-->
		<div class="pay_pasd_box">
		    <div class="box_main">
		        <div class="title">
		            <span>&#x8BF7;&#x8F93;&#x5165;&#x652F;&#x4ED8;&#x5BC6;&#x7801;</span>
		            <span class="pay_close" id="payPWClose"></span>
		        </div>
		        <div class="money_num">
		            <span>&#xFFE5;</span><span id="transAmt"></span>
		        </div>
		        <div class="pasd_show">
		            <div class="pasd_box" id="pasdBox"><span></span><span></span><span></span><span></span><span></span><span></span></div>
		            <div class="num_box" id="numBox"></div>
		            <input class="pasd_input" id="pasd_input" value=""></input>
		        </div>
		    </div>
		    <div class="box_gray"></div>
		</div>
		<script>
		
		// 阻止浏览器后退按钮  
		$(document).ready(function(e) {	
			var counter = 0;
			if (window.history && window.history.pushState) {
				$(window).on('popstate', function () {
					window.history.pushState('forward', null, '#');
					window.history.forward(1);
				});
			}
			window.history.pushState('forward', null, '#'); //在IE中必须得有这两行
			window.history.forward(1);
		});
		
			addEventListener('load',function(){
			    //选择支付方式
			    confirmChoose.inputChoose();
				//关闭密码
			    document.getElementById('payPWClose').addEventListener('click', passWordBox.passWordBoxHide, false);
			})
		</script>
	</body>
</html>	