<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://10.20.91.130/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cn.thinkx.wecard.api.module.welfaremart.mapper.CardKeysOrderInfMapper">

	<sql id="CardKeysOrderInfColumns">
		o.ORDER_ID,
		o.USER_ID,
		o.PRODUCT_CODE,
		o.AMOUNT,
		o.PAID_AMOUNT,
		o.BANK_NO,
		o.TYPE,
		o.STAT,
		o.NUM,
		o.DATA_STAT,
		o.REMARKS,
		o.CREATE_USER,
		o.UPDATE_USER,
		o.CREATE_TIME,
		o.UPDATE_TIME,
		o.LOCK_VERSION
	</sql>

	<sql id="CardKeysOrderInfFields">
		#{orderId, jdbcType=VARCHAR},
		#{userId, jdbcType=VARCHAR},
		#{productCode, jdbcType=VARCHAR},
		#{amount, jdbcType=VARCHAR},
		#{paidAmount, jdbcType=VARCHAR},
		#{bankNo, jdbcType=VARCHAR},
		#{type, jdbcType=VARCHAR},
		#{stat, jdbcType=VARCHAR},
		#{num, jdbcType=VARCHAR},
		'0',
		#{remarks, jdbcType=VARCHAR},
		#{createUser, jdbcType=VARCHAR},
		#{updateUser, jdbcType=VARCHAR},
		SYSDATE,
		SYSDATE,
		'0'
	</sql>

	<sql id="tableName">
			TB_CARD_KEYS_ORDER_INF o
	</sql>
	
	<select id="getOrderFailByUserIdAndOrderId" parameterType="CardKeysOrderInf" resultType="CardKeysOrderInf">
		SELECT
			<include refid="CardKeysOrderInfColumns" />
		FROM 
			<include refid="tableName" />
		WHERE 1=1
			<if test="dataStat !=null and dataStat !='' ">
				AND o.DATA_STAT = #{dataStat}
			</if>
			<if test="stat !=null and stat !='' ">
				AND o.STAT = #{stat}
			</if>
			<if test="type !=null and type !='' ">
				AND o.TYPE = #{type}
			</if>
			AND o.USER_ID = #{userId}
			AND o.ORDER_ID = #{orderId}
	</select>
	
	<select id="getCardKeysOrderByCardKeys" parameterType="String" resultType="Integer">
		SELECT COUNT(o.ORDER_ID) num
		FROM TB_CARD_KEYS a 
		INNER JOIN TB_CARD_KEYS_TRANS_LOG b ON a.CARD_KEY = b.CARD_KEY 
		INNER JOIN TB_CARD_KEYS_ORDER_INF o ON b.ORDER_ID = o.ORDER_ID 
		WHERE 1=1
			AND b.TRANS_ID = 'W30'
			AND o.TYPE = '30'
			AND b.DATA_STAT='0'
			AND o.STAT IN ('30','31','32','33')
			AND a.CARD_KEY = #{cardKey}
	</select>
	
	<select id="getCardKeysOrderByOrderId" parameterType="String" resultType="CardKeysOrderInf">
		SELECT
			<include refid="CardKeysOrderInfColumns" />
		FROM 
			<include refid="tableName" />
		WHERE o.DATA_STAT = '0'
			AND o.ORDER_ID = #{orderId}
	</select>
	
	<select id="getOrderNumByOrderId" parameterType="CardKeysOrderInf" resultType="CardKeysOrderInf">
		SELECT
			o.PRODUCT_CODE,o.NUM
		FROM 
			<include refid="tableName" />
		WHERE o.DATA_STAT = '0'
		<if test="type !=null and type !='' ">
			AND o.TYPE = #{type}
		</if>
		<if test="stat !=null and stat !='' ">
			AND o.STAT = #{stat}
		</if>
			AND o.ORDER_ID = #{orderId}
	</select>
	
	<select id="getMonthResellNum" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT
			COUNT(o.USER_ID)
		FROM 
			<include refid="tableName" />
		WHERE o.DATA_STAT = '0' 
			AND o.TYPE = '30' 
			AND o.STAT IN ('30','31','32','33')
		<if test="userId !=null and userId !='' ">
			AND o.USER_ID = #{userId}
		</if>
			AND TO_DATE(TO_CHAR(o.CREATE_TIME, 'YYYY-MM'), 'YYYY-MM') = TO_DATE(TO_CHAR(sysdate, 'YYYY-MM'), 'YYYY-MM') 
	</select>
	
	<insert id="insertCardKeysOrderInf" parameterType="CardKeysOrderInf">
		INSERT INTO 
			<include refid="tableName" />
		(
			<include refid="CardKeysOrderInfColumns" />
		) VALUES (
			<include refid="CardKeysOrderInfFields" />
		)
	</insert>

	<update id="updateCardKeysOrderInf" parameterType="CardKeysOrderInf">
		UPDATE 
			<include refid="tableName" />
		SET
		<if test="userId !=null and userId !='' ">
			o.USER_ID = #{userId,jdbcType=VARCHAR},
		</if>
		<if test="productCode !=null and productCode !='' ">
			o.PRODUCT_CODE = #{productCode,jdbcType=VARCHAR},
		</if>
		<if test="amount !=null and amount !='' ">
			o.AMOUNT = #{amount,jdbcType=VARCHAR},
		</if>
		<if test="paidAmount !=null and paidAmount !='' ">
			o.PAID_AMOUNT = #{paidAmount,jdbcType=VARCHAR},
		</if>
		<if test="bankNo !=null and bankNo !='' ">
			o.BANK_NO = #{bankNo,jdbcType=VARCHAR},
		</if>
		<if test="type !=null and type !='' ">
			o.TYPE = #{type,jdbcType=VARCHAR},
		</if>
		<if test="stat !=null and stat !='' ">
			o.STAT = #{stat,jdbcType=VARCHAR},
		</if>
		<if test="num !=null and num !='' ">
			o.NUM = #{num,jdbcType=VARCHAR},
		</if>
		<if test="dataStat !=null and dataStat !='' ">
			o.DATA_STAT = #{dataStat,jdbcType=VARCHAR},
		</if>
			o.UPDATE_TIME = sysdate,
			o.LOCK_VERSION = o.LOCK_VERSION+1
		WHERE o.ORDER_ID = #{orderId}
	</update>

</mapper>
