<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en">
<link rel="stylesheet" th:href="@{/diy/css/hkbServicePlatform.min.css}" />
<head th:include="main/header::header" />
<!-- nav 导航栏-->
<header th:include="main/navbar::navbar" />
<body>
	<form id="searchForm" th:action="@{/operate/posit/monthEdit}"
		th:object="${positOprStatistics}" class="form-inline" method="post">
			<input type="hidden" name="settleDate" th:value="${positOprStatistics.settleDate}"></input> 
			<input type="hidden" name="startDate" th:value="${positOprStatistics.startDate}"/>
			<input type="hidden" name="endDate" th:value="${positOprStatistics.endDate}"/>
			<input type="hidden" name="payAmt" th:value="${positOprStatistics.payAmt}"></input>
			<input type="hidden" name="totalPay" th:value="${positOprStatistics.totalPay}"></input>
			<input type="hidden" name="shopStatisticsOprId"
			th:value="${positOprStatistics.shopStatisticsOprId}"></input>
		<div class="content_body">
			<div class="title_content_title">
				<p>
					<img th:src="@{/icon/tab_set_data_green.png}" /><span>&#x8FD0;&#x8425;&#x6570;&#x636E;&#x8BBE;&#x7F6E;</span>&#xA0;&gt;&#xA0;<span>&#x6708;&#x8FD0;&#x8425;&#x6570;&#x636E;&#x8BBE;&#x7F6E;</span>
				</p>
				<p><button id="btn-back" type="button" class="hkb_btn btn_white" th:attr="startDate=${positOprStatistics.startDate},endDate=${positOprStatistics.endDate}">返回</button></p>
			</div>

			<!-- 操作组件-->

			<div class="info_content_operation">
				<!-- data组件-->
				<div class="control_list">

					<div class="hkb_word_list">
						<span>开始时间：</span> <span
							th:text="${positOprStatistics.settleDate}"></span>
					</div>
					<div class="hkb_word_list">
						<span>消费总金额：</span> <span th:text="${positOprStatistics.totalPay}">
						</span>
					</div>

					<div class="hkb_select_list">
						<span>状态：</span> <span> <select class="hkb_selectinput"
							id='stat' name="stat">
								<option value="">全部</option>
								<option th:each="stat,statStat : ${statSelect}"
									th:value="${stat.code}"><span th:text="${stat.name}"></span></option>
						</select>
						</span>
					</div>
				</div>

				<!-- 按钮 双-->

				<div class="control_list btn_list" style="text-align: right">

					<button id="btn-search" type="button" class="hkb_btn btn_green">查询</button>

					<button id="btn-reset" type="button" class="hkb_btn btn_white">重置</button>
					
				</div>


			</div>

			<!-- table title-->

			<div class="title_content_title title_gray">
					<span th:text="${positOprStatistics.mchntName}"></span>(<span th:text="${positOprStatistics.shopName}"></span>)门店数据
			</div>

			<!-- table -->

			<div class="info_content_table">


				<!-- table 单独-->
				<table class="table_box" border="0" cellpadding="0" cellspacing="1"
					rules="cols">
					<thead>
						<tr class="hkb_title_tr">
							<th align="middle">日期</th>
							<th>原始总金额</th>
							<th>调整后总金额</th>
							<th>状态</th>
							<th>操作</th>

						</tr>
					</thead>
					<tbody>
						<tr align="center" th:if="${not #lists.isEmpty(pageInfo.list)}"
							th:each="entity,orderStat:${pageInfo.list}">
							<td><span th:text="${entity.settleDate}"></span></td>
							<td><span th:text="${entity.payAmt}"></span></td>
							<td><span name="uPayAmt" th:text="${entity.uPayAmt}"></span></td>
							<td><span th:text="${entity.stat2}"></span></td>
							<td class="table_operation"><a class="btn-file"
								th:if="${entity.stat!='2'}"
								th:attr="ssid=${entity.id},name=${session.sessionUser.id},stat=${entity.stat}"
								sec:authorize="hasRole('DIY_MONTH_OPERATE_DATA_COMMIT')">归档</a>
								<a class="btn-edit" th:if="${entity.stat!='2'}"
								th:attr="ssid=${entity.id},settleDate=${entity.settleDate},totalPay=${positOprStatistics.totalPay},payAmt=${entity.payAmt},stat=${entity.stat}"
								sec:authorize="hasRole('DIY_DAY_OPERATE_DATA_EDITINTO')">编辑</a>
								<a class="btn-view" th:if="${entity.stat=='2'}"
								th:attr="ssid=${entity.id},settleDate=${entity.settleDate},totalPay=${positOprStatistics.totalPay},payAmt=${entity.payAmt},stat=${entity.stat}"
								sec:authorize="hasRole('DIY_DAY_OPERATE_DATA_VIEWINTO')">详情</a>
							</td>
						</tr>

					</tbody>
				</table>

			</div>
			<!-- next-->
			<div th:include="main/pagination::page" class="info_page"></div>
		</div>
	</form>
	<script th:src="@{/diy/js/operate/hkbOperateMonthEdit.js}"></script>
	
	<script>
		addEventListener('load', function() {
		})
	</script>
	<script th:inline="javascript">
			$("#stat").val(/*[[${positOprStatistics.stat}]]*/);
	</script>

</body>
</html>