<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://10.20.91.130/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cn.thinkx.oms.module.enterpriseorder.mapper.BatchWithdrawOrderMapper">

	<sql id="BatchWithdrawOrderColumns">
		ORDER_ID,
		BATCH_NO,
		USER_ID,
		TOTAL_FEE,
		TOTAL_AMOUNT,
		TOTAL_NUM,
		WITHDRAW_DATE,
		ORDER_NAME,
		STAT,
		PAID_INS,
		PAID_ID,
		PAID_RESP_DESC,
		SUCCESS_AMOUNT,
		SUCCESS_NUM,
		SUCCESS_FEE,
		FAIL_AMOUNT,
		FAIL_NUM,
		DATA_STAT,
		REMARKS,
		CREATE_USER,
		UPDATE_USER,
		CREATE_TIME,
		UPDATE_TIME,
		LOCK_VERSION
	</sql>

	<sql id="BatchWithdrawOrderFields">
		#{orderId, jdbcType=VARCHAR},
		#{batchNo, jdbcType=VARCHAR},
		#{userId, jdbcType=VARCHAR},
		#{totalFee, jdbcType=DECIMAL},
		#{totalAmount, jdbcType=DECIMAL},
		#{totalNum, jdbcType=VARCHAR},
		#{withdrawDate, jdbcType=VARCHAR},
		#{orderName, jdbcType=VARCHAR},
		#{stat, jdbcType=VARCHAR},
		#{paidIns, jdbcType=VARCHAR},
		#{paidId, jdbcType=VARCHAR},
		#{paidRespDesc, jdbcType=VARCHAR},
		#{successAmount, jdbcType=DECIMAL},
		#{successNum, jdbcType=VARCHAR},
		#{successFee, jdbcType=DECIMAL},
		#{failAmount, jdbcType=VARCHAR},
		#{failNum, jdbcType=VARCHAR},
		'0',
		#{remarks, jdbcType=VARCHAR},
		#{createUser, jdbcType=VARCHAR},
		#{updateUser, jdbcType=VARCHAR},
		SYSDATE,
		SYSDATE,
		'0'
	</sql>

	<sql id="tableName">
			TB_BATCH_WITHDRAW_ORDER
	</sql>

	<insert id="insertBatchWithdrawOrder" parameterType="BatchWithdrawOrder">
		INSERT INTO
		<include refid="tableName" />
		(
		<include refid="BatchWithdrawOrderColumns" />
		) VALUES (
		<include refid="BatchWithdrawOrderFields" />
		)
	</insert>

	<select id="getById" parameterType="java.lang.String" resultType="BatchWithdrawOrder">
		SELECT 
	  		<include refid="BatchWithdrawOrderColumns" />
		FROM 
			<include refid="tableName" />
		WHERE
		ORDER_ID = #{id}
	</select>

	<update id="updateBatchWithdrawOrder" parameterType="BatchWithdrawOrder">
		UPDATE
		<include refid="tableName" />
		SET
		<if test="totalFee !=null">
			TOTAL_FEE = #{totalFee,jdbcType=DECIMAL},
		</if>
		<if test="totalAmount !=null ">
			TOTAL_AMOUNT = #{totalAmount,jdbcType=DECIMAL},
		</if>
		<if test="totalNum !=null and totalNum !='' ">
			TOTAL_NUM = #{totalNum,jdbcType=VARCHAR},
		</if>
		<if test="orderName !=null and orderName !='' ">
			ORDER_NAME = #{orderName,jdbcType=VARCHAR},
		</if>
		<if test="stat !=null and stat !='' ">
			STAT = #{stat,jdbcType=VARCHAR},
		</if>
		<if test="paidIns !=null and paidIns !='' ">
			PAID_INS = #{paidIns,jdbcType=VARCHAR},
		</if>
		<if test="paidId !=null and paidId !='' ">
			PAID_ID = #{paidId,jdbcType=VARCHAR},
		</if>
		<if test="paidRespDesc !=null and paidRespDesc !='' ">
			PAID_RESP_DESC = #{paidId,jdbcType=VARCHAR},
		</if>
		<if test="successAmount !=null ">
			SUCCESS_AMOUNT = #{successAmount,jdbcType=DECIMAL},
		</if>
		<if test="successNum !=null">
			SUCCESS_NUM = #{successNum,jdbcType=VARCHAR},
		</if>
		<if test="successFee !=null">
			SUCCESS_FEE = #{successFee,jdbcType=DECIMAL},
		</if>
		<if test="failAmount !=null ">
			FAIL_AMOUNT = #{failAmount,jdbcType=DECIMAL},
		</if>
		<if test="failNum !=null and failNum !='' ">
			FAIL_NUM = #{failNum,jdbcType=VARCHAR},
		</if>
		UPDATE_TIME = sysdate,
		LOCK_VERSION = LOCK_VERSION+1
		WHERE ORDER_ID = #{orderId}
	</update>


	<update id="deleteBatchWithdrawOrder" parameterType="java.lang.String">
		UPDATE
		<include refid="tableName" />
		SET
		DATA_STAT = '1',
		UPDATE_TIME = sysdate,
		LOCK_VERSION = LOCK_VERSION+1
		WHERE ORDER_ID = #{orderId}
	</update>

	<select id="getBatchWithdrawOrderList" parameterType="BatchWithdrawOrder" resultType="BatchWithdrawOrder">
		SELECT
		<include refid="BatchWithdrawOrderColumns" />
		FROM <include refid="tableName" />
		WHERE DATA_STAT='0'
		<if test="orderName !=null and orderName !='' ">
			AND ORDER_NAME like '%' || #{orderName} || '%'
		</if>
		<if test="startTime != null and startTime != ''">
			AND CREATE_TIME &gt;= to_date(#{startTime}, 'YYYY-MM-DD HH24:MI:SS')
		</if>
		<if test="endTime != null  and endTime != ''">
			AND CREATE_TIME &lt;= to_date(#{endTime}, 'YYYY-MM-DD HH24:MI:SS')
		</if>
		ORDER BY CREATE_TIME DESC

	</select>

</mapper>
