<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://10.20.91.130/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.thinkx.oms.module.common.mapper.CtrlSystemMapper">

	<select id="getCtrlSystem" resultType="CtrlSystem">
		SELECT  
			SETTLE_DATE,  
			PRE_SETTLE_DATE,  
			TRANS_FLAG,  
			CUR_LOG_NUM,  
			PRE_LOG_NUM,  
			BATCH_STAT,  
			SETTLE_STAT,  
			CREATE_USER,  
			UPDATE_USER,  
			CREATE_TIME,  
			UPDATE_TIME	
		FROM TB_CTRL_ST 
		WHERE rownum &gt;= 0 AND rownum &lt;=1
	</select>

</mapper>
