<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://10.20.91.130/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cn.thinkx.oms.module.merchant.mapper.MerchantContractMapper">
	
	<resultMap type="MerchantContract" id="MerchantContractResultMap">
	    <result column="MCHNT_CONTRACT_ID"    property="mchntContractId"/>
		<result column="MCHNT_ID"             property="mchntId"/>
		<result column="MCHNT_CODE"           property="mchntCode"/>
		<result column="SETTLE_TYPE"          property="settleType"/>
		<result column="SETTLE_CYCLE"         property="settleCycle"/>
		<result column="CONTRACT_START_DATE"  property="contractStartDate"/>
		<result column="CONTRACT_END_DATE"    property="contractEndDate"/>
		<result column="PRE_SETTLE_DATE"      property="preSettleDate"/>
		<result column="DATA_STAT"            property="dataStat"/>
		<result column="REMARKS"              property="remarks"/>
		<result column="CREATE_USER"          property="createUser"/>
		<result column="UPDATE_USER"          property="updateUser"/>
		<result column="CREATE_TIME"          property="createTime"/>
		<result column="UPDATE_TIME"          property="updateTime"/>
		<result column="LOCK_VERSION"         property="lockVersion"/>
	</resultMap>
	
	<sql id="MerchantContractColumns">
		t.MCHNT_CONTRACT_ID, 
		t.MCHNT_ID,          
		t.MCHNT_CODE,        
		t.SETTLE_TYPE,       
		t.SETTLE_CYCLE,      
		t.CONTRACT_START_DATE,
		t.CONTRACT_END_DATE, 
		t.PRE_SETTLE_DATE,   
		t.DATA_STAT,         
		t.REMARKS,
		t.CREATE_USER,
		t.UPDATE_USER,
		t.CREATE_TIME,
		t.UPDATE_TIME,
		t.LOCK_VERSION
	</sql>
	
	<select id="getMerchantContractById" parameterType="java.lang.String" resultMap="MerchantContractResultMap">
		SELECT 
	  		<include refid="MerchantContractColumns" />
		 FROM TB_MERCHANT_CONTRACT t WHERE  t.MCHNT_CONTRACT_ID=#{mchntContractId}
	</select>
	
	<select id="getMerchantContractByMerchantId" parameterType="java.lang.String" resultMap="MerchantContractResultMap">
		SELECT 
	  		<include refid="MerchantContractColumns" />
		 FROM TB_MERCHANT_CONTRACT t WHERE  t.MCHNT_ID=#{mchntId}
	</select>
	
	<insert id="insertMerchantContract" parameterType="MerchantContract" useGeneratedKeys="false" keyProperty="mchntContractId">
		INSERT INTO TB_MERCHANT_CONTRACT (
				MCHNT_CONTRACT_ID, 
				MCHNT_ID,          
				MCHNT_CODE,        
				SETTLE_TYPE,       
				SETTLE_CYCLE,      
				CONTRACT_START_DATE,
				CONTRACT_END_DATE, 
				PRE_SETTLE_DATE,   
				DATA_STAT,         
				REMARKS,
				CREATE_USER,
				UPDATE_USER,
				CREATE_TIME,
				UPDATE_TIME,
				LOCK_VERSION
		 )  VALUES ( 
		 		#{mchntContractId,jdbcType=VARCHAR},
				#{mchntId,jdbcType=VARCHAR},
				#{mchntCode,jdbcType=VARCHAR},
				#{settleType,jdbcType=VARCHAR},
				#{settleCycle,jdbcType=VARCHAR},
				#{contractStartDate,jdbcType=VARCHAR},
				#{contractEndDate,jdbcType=VARCHAR},
				#{preSettleDate,jdbcType=VARCHAR},
				#{dataStat,jdbcType=VARCHAR},
				#{remarks,jdbcType=VARCHAR},
				#{createUser,jdbcType=VARCHAR},
				#{updateUser,jdbcType=VARCHAR},
				sysdate,
				sysdate,
				'0') 
	</insert>
	
	<update id="updateMerchantContract" parameterType="MerchantContract">
		UPDATE TB_MERCHANT_CONTRACT
		<set>
			MCHNT_ID            =#{mchntId,jdbcType=VARCHAR},
			MCHNT_CODE          =#{mchntCode,jdbcType=VARCHAR},
			SETTLE_TYPE         =#{settleType,jdbcType=VARCHAR},
			SETTLE_CYCLE        =#{settleCycle,jdbcType=VARCHAR},
			CONTRACT_START_DATE =#{contractStartDate,jdbcType=VARCHAR},
			CONTRACT_END_DATE   =#{contractEndDate,jdbcType=VARCHAR},
			PRE_SETTLE_DATE     =#{preSettleDate,jdbcType=VARCHAR},
			DATA_STAT           =#{dataStat,jdbcType=VARCHAR},
			REMARKS             =#{remarks,jdbcType=VARCHAR},
			UPDATE_USER         =#{updateUser,jdbcType=VARCHAR},
			UPDATE_TIME         =sysdate,
			LOCK_VERSION        =LOCK_VERSION+1
		</set>
			WHERE t.MCHNT_CONTRACT_ID=#{mchntContractId}
	</update>

	<delete id="deleteMerchantContract" parameterType="java.lang.String" >
		 UPDATE TB_MERCHANT_CONTRACT SET DATA_STAT='1' WHERE　t.MCHNT_CONTRACT_ID=#{mchntContractId}
	</delete>
</mapper>
